---
const { image, text, title, price_single, price_multi } = Astro.props;
---

<article>
  <img src={image} alt="" />
  <h2>{title}</h2>
  <p class="text">{text}</p>
  <div class="price">
    <p>{price_single}</p>
    <p>{price_multi}</p>
  </div>
</article>

<style>
  h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #6b1e47;
  }
  .text {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 1rem;
    color: #1d000f;
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    color: #1e0111;
  }

  img {
    min-width: 450px;
    height: 550px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 1200px) {
    img {
      height: 500px;
    }
  }
</style>
